@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.developer-heading {
  text-align: center;
  color: white;
  display: inline-block;
  width: 80vw;
  padding: 20px 20px 0 20px;
  font-family: "Baloo Paaji 2";
  font-size: 2.5rem;
  animation: heading-animation 1s cubic-bezier(0.36, 0, 0.66, -0.56) 0s 1 normal
    none;
}
.back-btn {
  position: absolute;
  top: 2%;
  right: 90%;
  font-size: 2.5rem;
}

@keyframes heading-animation {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: scale(0);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: scale(1);
  }

  55% {
    animation-timing-function: ease-in;
    transform: scale(0.7);
  }

  72% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }

  81% {
    animation-timing-function: ease-in;
    transform: scale(0.84);
  }

  89% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }

  95% {
    animation-timing-function: ease-in;
    transform: scale(0.95);
  }

  100% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}

.rule-book {
  color: white;
  animation: rule-book-animation 1s cubic-bezier(0.36, 0, 0.66, -0.56) 0s 1
    normal none;
}

@keyframes rule-book-animation {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateX(250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateX(68px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateX(32px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateX(8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }
}

.rule {
  padding: 20px 0;
}

.rule h2 {
  font-size: 2.5rem;
}

.rule h2:hover {
  color: aqua;
}

.rule p,
ol,
li {
  font-size: 1.5rem;
}
