@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  overflow: hidden;
}

.nav-section {
  width: 80%;
  height: 20%;
  display: inline-flex;
  justify-content: space-between;
  margin: 10px 0 0 0;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.logo {
  width: auto;
  margin: 10px 0px 0 60px;
}

.loader {
  --cell-size: 25px;
  --cell-spacing: 1px;
  --cells: 3;
  --total-size: calc(
    var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing))
  );
  display: flex;
  flex-wrap: wrap;
  width: var(--total-size);
  height: var(--total-size);
}

.cell {
  flex: 0 0 var(--cell-size);
  margin: var(--cell-spacing);
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 4px;
  animation: 1.5s ripple ease infinite;
}

.cell.d-1 {
  animation-delay: 100ms;
}

.cell.d-2 {
  animation-delay: 200ms;
}

.cell.d-3 {
  animation-delay: 300ms;
}

.cell.d-4 {
  animation-delay: 400ms;
}

.cell:nth-child(1) {
  --cell-color: #00ff87;
}

.cell:nth-child(2) {
  --cell-color: #0cfd95;
}

.cell:nth-child(3) {
  --cell-color: #17fba2;
}

.cell:nth-child(4) {
  --cell-color: #23f9b2;
}

.cell:nth-child(5) {
  --cell-color: #30f7c3;
}

.cell:nth-child(6) {
  --cell-color: #3df5d4;
}

.cell:nth-child(7) {
  --cell-color: #45f4de;
}

.cell:nth-child(8) {
  --cell-color: #53f1f0;
}

.cell:nth-child(9) {
  --cell-color: #60efff;
}

@keyframes ripple {
  0% {
    background-color: transparent;
  }

  30% {
    background-color: var(--cell-color);
  }

  60% {
    background-color: transparent;
  }

  100% {
    background-color: transparent;
  }
}

.game-name {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 500%;
  font-weight: 600;
  width: auto;
  color: white;
}

.vl {
  border-left: 6px solid rgba(100, 195, 195, 0.854);
  height: 90%;
  margin: 0 20px;
  border-radius: 2px;
}

.nav-list {
  display: flex;
  flex-flow: wrap;
  justify-content: right;
  align-items: center;
  padding: 10px;
  width: 60%;
}

.nav-list ul li {
  list-style-type: none;
  margin-right: 15px;
  display: inline;
  border-radius: 30px;
  font-size: 180%;
  padding: 15px;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(
    rgba(86, 56, 119, 0.417),
    rgba(100, 195, 195, 0.582)
  );
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  transition: background-size 0.7s, background-position 0.5s ease-in-out;
}

.nav-list ul li:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position 0.7s, background-size 0.5s ease-in-out;
}

.nav-list ul li a {
  text-decoration: none;
  color: white;
}

.hero-section {
  margin: 20px 0;
  width: 75%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.left-info {
  width: 50%;
  height: auto;
  padding: 50px;
}

.left-info h1 {
  font-size: 8vw;
  transition: color 0.3s, transform 0.3s;
}

.left-info h1:hover {
  color: #45f3ff; 
  transform: scale(1.05); 

.inputbox {
  position: relative;
  padding: 10px;
  margin: 20px inherit;
  width: 196px;
}

.inputbox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.inputbox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  font-weight: 500;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span {
  color: #45f3ff;
  transform: translateX(-10px) translateY(-35px);
  font-size: 0, 95em;
}

.inputbox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45f3ff;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
  font-size: 95em;
  font-weight: 600;
}

.inputbox input:valid ~ i,
.inputbox input:focus ~ i {
  height: 55px;
}

/* ----------------Button-------------------------------- */
/* === removing default button style ===*/
.button {
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.button {
  margin-top: 30px;
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #1ee6dce0;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

/* ----------------Button-------------------------------- */

.right-info {
  width: 50%;
  height: auto;
  padding: 50px 50px 50px 80px;
}

.game-avatar {
  max-width: 35vw;
  max-height: 80%;
}

